<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="assimp.v140" version="3.2" targetFramework="native" />
  <package id="assimp.v140.redist" version="3.2" targetFramework="native" />
  <package id="boost" version="1.69.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="boost_regex-vc141" version="1.69.0.0" targetFramework="native" />
  <package id="freetype2" version="2.6.0.1" targetFramework="native" />
  <package id="glm" version="0.9.9.500" targetFramework="native" />
</packages>